@use "../abstracts/index" as *;

html {
  overflow-x: hidden !important;
}

body {
  width: 100%;
  // height: max-content;
  background-color: var(--appBackground);
  padding: 2%;
  padding-right: 0px;

  &:has(.login) {
    padding: 0;
    width: 100%;
  }

  &:has([class^="loginLayout_login"]) {
    height: 100vh;
    width: 100%;
  }

  @include responsive(medium) {
    padding: 16px;
    padding-right: 0px;
  }
  @include responsive(small) {
    padding-top: 0;
  }
}

#root {
  width: 100%;

  &:has([class^="loginLayout_login"]) {
    height: 100%;
    padding: 0;
    @include flex(row, ce, ce, sp0);
    overflow-y: hidden;
  }
}

// ///////////////////////////////////
