.bookmarkIcon {
  align-self: flex-end;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  &:hover {
    background-color: #fff;
    svg {
      stroke: #000;
    }
  }

  input {
    width: 100%;
    height: 100%;
    appearance: none;
    cursor: pointer;
    position: absolute;
    z-index: 999;
  }

  &:has(input:checked) {
    svg {
      fill: #fff;
    }
  }

  svg {
    @include absoluteCenter;
    fill: transparent;
  }
}
