.tvshows {
  @include flex(column, fs, fs, sp9);
  padding-right: 32px;
  @include responsive(medium) {
    padding-right: 16px;
  }
  ul {
    width: 100%;

    @include flex(row, fs, ce, sp9);
    flex-wrap: wrap;

    li {
      @include flex(column, fs, fs, sp10);
      gap: 8px;
      flex: 1 1 250px;

      @include responsive(small) {
        flex: 1 0 40%;
        max-width: 60%;
      }
    }
  }
}
