.contentInfo {
  @include flex(column, fs, fs, sp0);
  gap: 4px;
  z-index: 2;

  .labels {
    @include flex(row, fs, fs, sp11);
    .typeCont {
      @include flex(row, fs, ce, sp0);
      gap: 4px;
    }
  }
}

.cardBackground {
  height: clamp(140px, 25vw, 230px);
  border-radius: 8px;
  position: relative;
  @include flex(column, sb, fs, sp0);
  padding: 16px;

  max-width: 500px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(16, 20, 30, 0.3);
    z-index: 1;
  }

  .imgCont {
    @include absoluteCenter;
    z-index: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    top: 0;
    border-radius: 8px;

    img {
      pointer-events: none;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  button {
    @include absoluteCenter;
    border: none;
    border-radius: 24px;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    pointer-events: none;
    z-index: 3;

    div {
      background-color: transparent;
      width: 48px;
      position: absolute;
      left: 4px;
      top: 8px;
    }

    p {
      position: absolute;
      top: 16px;
      left: 50px;
    }
  }
  &:hover {
    button {
      opacity: 1;
      pointer-events: all;
    }
  }
}
