.bmCont {
  width: 97%;
  @include flex(column, fs, fs, sp8);
}

.bookmarks {
  min-width: 280px;

  width: 100%;
  @include flex(column, fs, fs, sp9);
  // padding-right: 64px;
  @include responsive(medium) {
    // padding-right: 16px;
    width: 100%;
  }

  ul {
    width: 100%;

    @include flex(row, fs, ce, sp9);
    flex-wrap: wrap;

    li {
      @include flex(column, fs, fs, sp10);
      gap: 8px;
      flex: 1 1 300px;
      // max-width: 320px;
      // min-width: "200px";

      @include responsive(medium) {
        flex: 1 1 220px;
        max-width: 220px;
      }

      // @include responsive(small) {
      //   flex: 1 0 200px;
      // }
    }
    &:has(li:only-child) {
      li {
        // max-width: 432px !important;
        // flex: 1 0 300px;
        max-width: 320px;
      }
    }
  }
}
