.homePage {
  width: 100%;
  @include flex(column, fs, fs, sp8);
}

.recommended {
  width: 97%;
  @include flex(column, fs, fs, sp9);
  // padding-right: 64px;
  @include responsive(medium) {
    // padding-right: 16px;
    width: 98%;
  }
  ul {
    width: 100%;

    @include flex(row, fs, ce, sp9);
    flex-wrap: wrap;

    li {
      @include flex(column, fs, fs, sp10);
      gap: 8px;
      flex: 1 1 260px;
      // max-width: "280px";
      // min-width: "200px";

      @include responsive(small) {
        flex: 1 0 150px;
      }
    }
  }
}
