.searchBar {
  @include flex(row, fs, ai, sp9);
  width: 100%;
  padding-right: 32px;
  input {
    width: 100%;
    background-color: var(--appBackground);
    border: none;
    color: white;
    font-size: clamp(14px, 3vw, 22px);
    caret-color: #ff0000;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
      transition: color 200ms ease-in-out;
    }

    border-bottom: 1px solid transparent;
    transition: border-bottom 200ms ease-in-out;

    &:focus {
      outline: none;
      border-bottom: 1px solid #5a698f;

      &::placeholder {
        color: transparent;
      }
    }
  }
}
