* {
  padding: 0;
  margin: 0 !important;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  list-style: none;

  transition: color 0.2s ease, background-color 0.2s ease;
}

html {
  overflow-x: hidden;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #10141e !important; /* your desired color */
  // -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset !important;
  -webkit-text-fill-color: #fff !important; /* optional: change text color */
  transition: background-color 5000s ease-in-out 0s;
}
