@keyframes click-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.navBar {
  //
  position: fixed;
  width: 6%;
  min-width: 80px;
  max-width: 80px;
  height: 90%;
  @include flex(column, sb, ce, sp8);

  background-color: var(--navBg);
  border-radius: 20px;

  padding: 32px 16px;

  @include responsive(medium) {
    position: relative;
    flex-direction: row;
    width: 98%;
    height: 6%;
  }

  .navIconsAll {
    @include flex(column, fs, ce, sp7);
    @include responsive(medium) {
      flex-direction: row;
      justify-content: space-between;
      width: 62%;
    }

    .navIcons {
      @include flex(column, fs, ce, sp9);

      @include responsive(medium) {
        flex-direction: row;
      }

      svg {
        transition: fill 200ms ease-in-out;
      }

      .defIcon {
        cursor: pointer;
        &:active {
          svg {
            animation: click-scale 200ms ease-in-out;
          }
        }
        svg {
          fill: #5a698f;
        }
        &:hover {
          svg {
            fill: #fc4747;
          }
        }
      }

      .iconActive {
        svg {
          fill: #fff;
          // animation: click-scale 200ms ease-in-out;
        }
      }
    }
  }

  .navProfile {
    background-color: #fff;
    border-radius: 50%;
    padding: 2px;
    padding-left: 3px;
    @include flex(row, ce, ce, sp0);

    &:focus {
      background-color: #fc4747;
    }

    img {
      width: 46px;
      height: 46px;
    }
  }
}
